<!doctype html>
<html lang="en" ng-app="recApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Recommendation</title>
        <script src="webjars/jquery/2.1.3/jquery.min.js"></script>
        <script src="webjars/angularjs/1.3.13/angular.js"></script>
        <script src="js/controllers.js"></script>
        <script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    </head>
    <body>

        <section class='container' ng-controller="RecCtrl">
            <p>Filter <input ng-model="query" /></p>
            <p>Health <input type="range" min="0" max="100" ng-model="health" /></p>
            <p>Leisure <input type="range" min="0" max="100" ng-model="stress" /></p>
            <p>Affordability <input type="range" min="0" max="100" ng-model="cost" /></p>
            <p><button ng-click="refresh()">Refresh Recommendations</button></p>
            <ul>
                <li ng-repeat="city in cities | filter:query">
                    <h1>{{city.city}}</h1>                    
                    <span>Health: {{city.health}}%</span> &bull;
                    <span>Leisure: {{100 - city.stress}}%</span> &bull;
                    <span>Affordability: ${{city.expenses}}</span>
                </li>
            </ul>
            <p><b>Health</b> as Highest Percent of Population Reporting General Health as Excellent or Great</p>
            <p><b>Leisure</b> as Highest Percent of Population Not Reporting Life Stress as Quite a Lot</p>
            <p><b>Affordability</b> as Lowest Total Expenditures for Survey of Household Spending</p>
        </section>


    </body>
</html>
