<!doctype html>
<html lang="en" ng-app="recApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Recommendation</title>
        <script src="webjars/jquery/2.1.3/jquery.min.js"></script>
        <script src="webjars/angularjs/1.3.13/angular.js"></script>
        <script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
        <script src="webjars/bootstrap-slider/4.0.8/bootstrap-slider.min.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap-slider/4.0.8/css/bootstrap-slider.min.css" />        
    </head>
    <body>

        <section class='container' ng-controller="RecCtrl">
            <div class="jumbotron">
                <h1>You should retire in {{(cities|filter:query)[0].city}}!</h1>
                <p>{{(cities|filter:query)[0].health}}% of the population reported very good or 
                    excellent health, {{100 - (cities | filter:query)[0].stress}}% of the population 
                    reported not having a lot of stress, and the average household 
                    spending is only ${{(cities|filter:query)[0].expenses}} per year.</p>
            </div>
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified">
                    <button class="btn btn-default" data-toggle="collapse" data-target="#options">Personalize Results</button>   
                    <button class="btn btn-default" data-toggle="collapse" data-target="#resultList" ng-click="expand = !expand"><span ng-class="expand | glyphFilter"></span>{{expand|expandFilter}}</button>
                </div>
            </div>
            <div id="options" class="collapse panel panel-default">
                <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="query">Filter</label> 
                        <input class="col-sm-10" id="query" ng-model="query" placeholder="Search for results by criteria, eg- Ontario"/>
                    </div>
                    <div class="col-sm-12">
                        By default, the recommendation is based on the following equally-weighted 
                        requirements. Drag the following widgets to change the importance of each 
                        factor for your preference:
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="health">Health</label> 
                        <slider class="col-sm-10" tooltip="hide" id="health" min="0" max="100" ng-model="health" />                    
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="stress">Leisure</label> 
                        <slider class="col-sm-10" tooltip="hide" id="stress" min="0" max="100" ng-model="stress" />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cost">Affordability</label> 
                        <slider class="col-sm-10" tooltip="hide" id="cost" min="0" max="100" ng-model="cost" />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10"> 
                            <button class="btn btn-primary" ng-click="refresh()">Refresh Recommendations</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="resultList" class="collapse panel panel-default">
                <div class="panel-heading">Further Recommendations</div>
                <ul class="list-group panel-body">
                    <li class="list-group-item" ng-repeat="city in cities| filter:query">
                        <h1>{{city.city}}</h1>                    
                        <div><small>
                                <span>Health: {{city.health}}%</span> &bull;
                                <span>Leisure: {{100 - city.stress}}%</span> &bull;
                                <span>Affordability: ${{city.expenses}}</span>
                            </small></div>
                    </li>
                </ul>
                <div class="col-sm-12"><small><b>Health</b> as Highest Percent of 
                        Population Reporting General Health as Excellent or Great</small></div>
                <div class="col-sm-12"><small><b>Leisure</b> as Highest Percent of 
                        Population Not Reporting Life Stress as Quite a Lot</small></div>
                <div class="col-sm-12"><small><b>Affordability</b> as Lowest Total 
                        Expenditures for Survey of Household Spending</small></div>
                <div class="col-sm-12"><small>Data based on <a href="http://open.canada.ca/data/en/dataset/3d0708eb-b421-4c72-888b-06b17b100d42">Health indicator profile, two-year period estimates, by age group and sex, Canada, provinces, territories, census metropolitan areas and influence zones 2013-06-21</a> and <a href="http://open.canada.ca/data/en/dataset/bcdca967-98d8-4139-850e-0000a2556d8d">Survey of household spending (SHS), household spending, Canada, regions and provinces 2015-01-22</a></small></div>
            </div>            
            <footer class="col-sm-4 col-sm-offset-4">Copyright &copy; 2015: <a href="http://www.lenpayne.ca">Len Payne</a></footer>
        </section>       
        <script src="js/slider.js"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>
