<!doctype html>
<html lang="en" ng-app="recApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Recommendation</title>
        <script src="webjars/jquery/2.1.3/jquery.min.js"></script>
        <script src="webjars/angularjs/1.3.13/angular.js"></script>
        <script src="js/controllers.js"></script>
        <script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    </head>
    <body>

        <section class='container' ng-controller="RecCtrl">
            <p>Filter <input ng-model="query" /></p>
            <p>Health <input type="range" min="0" max="100" ng-model="health" /></p>
            <p>Leisure <input type="range" min="0" max="100" ng-model="stress" /></p>
            <p>Affordability <input type="range" min="0" max="100" ng-model="cost" /></p>
            <p><button ng-click="refresh()">Refresh Recommendations</button></p>
            <table class="table">
                <tr>
                    <th><span ng-click="predicate = 'city'; reverse=!reverse">City</span></th>
                    <th><span ng-click="predicate = 'health'; reverse=!reverse">Health</span></th>
                    <th><span ng-click="predicate = 'stress'; reverse=!reverse">Stress</span></th>
                    <th><span ng-click="predicate = 'expenses'; reverse=!reverse">Expenses</span></th>
                    <th><span ng-click="predicate = 'historicalExpenses'; reverse=!reverse">Historical Data</span></th>
                </tr>
                <tr ng-repeat="city in cities | filter:query">
                    <th>{{city.city}}</th>                    
                    <td>{{city.health}}</td>
                    <td>{{city.stress}}</td>
                    <td>{{city.expenses}}</td>
                    <td>{{city.historicalExpenses}}</td>
                </tr>
            </table>
        </section>


    </body>
</html>
